:root {
    --calistoga: 'Calistoga', cursive;
    --nova-mono: 'Roboto Mono', monospace;
    --rampart-one: 'Rampart One', cursive;
    --rubik-mono: 'Rubik Mono One', sans-serif;
    --yuji-syuku: 'Yuji Syuku', serif;

    --star-command: #D9F2F7 ;
    --space-cadet: #F25F5C;
    --laser-lemon: #FDF003;
    --gainsboro: #345995;
    --fuzzy-wuzzy: #D66100;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--nova-mono);
    background-color: var(--star-command);
}

header {
    background-color: #FDF003;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

nav img {
    max-width: 60px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin: 1rem;
}

nav a {
    text-decoration: none;
    color: var(--gainsboro);
}

.hero {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: var(--rubik-mono);
    background-color: #404E5C;
    color: #404E5C ;
    text-align: center;
}

h1 {

    font-size: var(--step-5);
    text-align: center;
    background-color: #FDF003;
    padding: 0.5rem 1rem;
    font-style: italic;
}

h2 {
    font-size: var(--step-1);
    text-align: center;
    background-color:#FDF003;
    padding: 0.5rem 1rem;
    margin: 1rem;
}

section {
    width: 95%;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    max-width: 1000px;
}

img {
    max-width: 300px;
    margin: 1rem;
}

.bioImg {
    margin: 1rem;
}

section h3, p {
    margin: 1rem;
    line-height: 2rem;
}

@media only screen and (min-width: 865px) {
    .bio {
        width:60%;
    }

    section img {
        width: 40%;
    }

    section {
        text-align: left;
    }
    
}

@media only screen and (max-width: 698px) {
    #dnd {
        max-width: 300px;
    }
}



.languages {
    max-width: 300px;
    display: flex;

}

.mid {
    max-width: 500px;
    margin: 2rem auto;
    width: 50%;
}

#dnd {
    background-image: url(./character-gen-shot.png);
    width: calc(900px + 64px);
}

#beer {
    background-image: url(./beer-shot.png);
}

#popper {
    background-image: url(./popper-toy-shot.png);
}

#burger {
    background-image: url(./emoji-menu-shot.png);
}

#credit {
    background-image: url(./card-swiper-shot.png);
}

#tacos {
    background-image: url(./moyas-shot.png);
}

#record {
    background-image: url(./record-button-shot.png);
}

#hover {
    background-image: url(./hover-click-shot.png);
}

.projects {
    margin-top: 5rem;
}

.card{
    width: 300px;
    height: 300px;
    margin: 1rem;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:flex-end;
    margin-bottom: 3rem;
    border-radius: 5px;
    background-size: cover;
}

.card img{
    max-width: 40px;
    background-color: #FDF003;
    opacity: 0.75;
    padding: 0.1rem;
    border-radius: 5px;
    margin: 0.3rem;
}

.card h4 {
    background-color: #FDF003;
    opacity: 0.95;
    border: 4px dotted var(--gainsboro);
    margin-top: -20px;
    max-width: 80%;
    margin: -30px auto;
    padding: 0.5rem;
    border-radius: 5px;
    max-width: 240px;
}

.contact {
    flex-direction: column;
}

.links ul {
    margin-top: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1000px;
    background-color: var(--laser-lemon);
    margin-bottom: 1rem ;
}

.links li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    margin-top: 1rem;
}

.links img {
    width: 40px;
    border-radius: 999px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 5rem;
    background-color: #404E5C;;
}

footer h4 {
    color: #FDF003;
}